@{
    ViewBag.Title = "Confirmation de la récupération de mot de passe";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Un mail vous a été envoyé. Consultez-le pour changer votre mot de passe
    </p>
</div>
	
